<!DOCTYPE html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>

</body>
<style>
    .footer {
        font-size: 20px;
        position: absolute;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .author {
        font-family: 'DynaPuff', cursive;
        color: orange;
    }
</style>

<footer class="footer">
    <p class="author">Created by Berat Azgün</p>
</footer>

</html>